gunicorn
asgiref
beautifulsoup4
blinker 
click
crispy-bootstrap5 
cycler
Django
django-bootstrap-v5
django-crispy-forms
django-widget-tweaks
entrypoints
fonttools
GitPython
idna 
importlib-metadata
joblib 
jsonschema
kiwisolver
matplotlib
numpy 
packaging 
pandas
patsy
protobuf 
pyparsing
python-dateutil 
requests 
scikit-learn 
scipy
six
sqlparse 
statsmodels 
threadpoolctl 
urllib3 
zipp
