{% load widget_tweaks %}
{% load crispy_forms_tags %} 
{% load bootstrap5 %}
{% load static %}
<html>
<meta name="viewpoint" content="width=device-width, initial-scale=0.1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<!-- <h1>humbu project:{{ AGE }} and {{ TITLE }}, {{ list_ }}</h1> -->
<link rel="shortcut icon" href="#">
<!--<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"> --> 
<!-- <link rel="stylesheet" type="text/js" href="{% static 'file.js' %}">  -->
<body style="background-color:lightblue;">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> 
<
<legend class="border-bottom mb-4 container">Calculate Probability using Logistic Regression</legend>
<!-- <style>
 img {display:block; margin-left:auto; margin-right:auto;}
</style>
<div class="container">
    <img src="{% static 'pngegg.png' %}" alt="No Picture" style="width:800px;height:260px;" class="center">
</div>   -->

<div class="container"> 
  <style>
 img {display:block; margin-left:auto; margin-right:auto;}
</style>
    <img src="{% static 'pngegg.png' %}" alt="No Picture" style="width:800px;height:260px;" class="center"> 
   <div class="content-section"> 
        <form method="POST" class="form-horizontal">
            {% csrf_token %}
            {% if form.non_field_errors %}
             <div class="alert alert-danger" role="alert" class="form-group form-group-lg">
                 {% for error in form.non_field_errors %}
                  {{ error }}
                 {% endfor %}
             </div>
             {% endif %}
            <fieldset class="form-group">
                {% for field in form.visible_fields  %}
                  <div class="form-group" width=3px>
                    {{ field.label_tag }}
                    {% if form.is_bound %}
                      {% if field.errors %}
                        {% render_field field class="form-control is-invalid form-control-lg"  %}
                          {% for error in field.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                           {% endfor %}
                        {% else %}
                          {% render_field field class="form-control is-valid form-control-lg width=0.5px" %}
                        {% endif %}
                      {% else %}
                        {% render_field field class="form-control form-control-lg width=0.5px" %}
                      {% endif %}
                    {% if field.help_text %} 
                      <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                  </div>
                 {% endfor %}
            </fieldset> 
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div> 
            <div class="form-group">
                <button class="btn btn-primary" type="reset">Reset</button>
            </div> 
        </form>
      </div> 
    </div> 
    <legend class="border-bottom mb-4 container"><b>Probability is:</b>{{ answer }}</legend>
    <!-- <div class="container">
        <h3 class="container"><b>Probability is:</b> {{ answer }}</h3>
    </div> -->
<script>
  function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}
</script>
<script>
  function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
}
</script>
</body>
</html>