{% load widget_tweaks %}
{% load crispy_forms_tags %} 
{% load bootstrap5 %}
{% load static %}
<html>

<meta name="viewpoint" content="width=device-width, initial-scale=0.1">
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<body style="background-color:aliceblue;">

<style>

  .contained {
                display: flex;
                justify-content: center;
                align-items: center;
                /* optional: set a height and width for the container */
            }

    ./*navbar-logo {
        width: 90px;
        }*/
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"><button onclick="history.back()" style="background-color:green; font-size:12px;">Go Back</button></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> 

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- <ul class="navbar-nav nav navbar-nav navbar-logo mx-auto"> -->
         <ul class="navbar-nav nav navbar-nav navbar-logo mr-auto">
              <!-- <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li> -->
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li> -->
              <span><li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Performance
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  
                  <!-- <a class="dropdown-item" href="http://localhost:8000/Decision/Confusion">Confusion Matrix</a>  -->
                  <a class="dropdown-item" href="https://djangoanyway-production-d043.up.railway.app/Decision/Confusion">Confusion Matrix</a> 
                  <!-- <a class="dropdown-item" href="http://localhost:8000/Decision/Cross">Cross Validate</a>  -->
                  <a class="dropdown-item" href="https://djangoanyway-production-d043.up.railway.app/Decision/Cross">Cross Validate</a> 
                  <!-- <a class="dropdown-item" href="http://localhost:8000/Decision/Tree">Decision Tree</a>  -->
                  <a class="dropdown-item" href="https://djangoanyway-production-d043.up.railway.app/Decision/Tree">Decision Tree</a>

                </div>
               </li></span>

               <!-- <span><li class="nav-item dropdown">
                 <span><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Diagnostics
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% static 'residuals.png' %}">Residuals</a>
                  <a class="dropdown-item" href="{% static 'student.png' %}">Student Residuals</a>
                  <a class="dropdown-item" href="{% static 'normal.png' %}">Normal plot</a>
                  <a class="dropdown-item" href="{% static 'cooks.png' %}">Cooks Distance</a>
                  <a class="dropdown-item" href="{% static 'partial.png' %}">Partial Plot</a>
                  <div class="dropdown-divider"></div>
                </div>
              </li></span> -->
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav> 

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><button onclick="history.back()" style="background-color:green; font-size: 12px;">Go Back</button></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav nav navbar-nav navbar-logo mx-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li> 
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> -->
<style>
         legend {
            font-size: 1.2rem;
            font-weight: bold;
            color: #333;
            margin-bottom: 1rem;
            left: 7%;
            transform: translate(-0%);
          }
</style>
<legend class="border-bottom mb-4 container"></legend>
<!-- style>
 img {max-width:100%; height:auto;}
</style> -->
<div class="contained container">
    <img src="{% static 'data2.png' %}" alt="No Picture" style="max-width: 100%;height:auto;"> 
</div>
<legend class="border-bottom mb-4 container"></legend>
<!-- <style>
 img {display:block; margin-left:auto; margin-right:auto;}
</style> 
    <img src="{% static 'main.jpg' %}" alt="No Picture" class="img-fuid img-responsive center"> -->
   <!-- div class="content-section"> 
    <style>
 img {display:block; margin-left:auto; margin-right:auto;}
</style> 
    <img src="{% static 'main.jpg' %}" alt="No Picture" class="img-fuid img-responsive center"> -->
    <div class="container">
        <form method="POST" class="form-horizontal">
            {% csrf_token %}
            {% if form.non_field_errors %}
             <div class="alert alert-danger" role="alert" class="form-group form-group-lg">
                 {% for error in form.non_field_errors %}
                  {{ error }}
                 {% endfor %}
             </div>
             {% endif %}
            <fieldset class="form-group">
                <!-- <legend class="border-bottom mb-4">Calculate Probability</legend> -->
                {% for field in form.visible_fields  %}
                  <div class="form-group" width=3px>
                    {{ field.label_tag }}
                    {% if form.is_bound %}
                      {% if field.errors %}
                        {% render_field field class="form-control is-invalid form-control-lg"  %}
                          {% for error in field.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                           {% endfor %}
                        {% else %}
                          {% render_field field class="form-control is-valid form-control-lg width=0.5px" %}
                        {% endif %}
                      {% else %}
                        {% render_field field class="form-control form-control-lg width=0.5px" %}
                      {% endif %}
                    {% if field.help_text %} 
                      <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                  </div>
                 {% endfor %}
            </fieldset> 
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Submit</button>
                <button class="btn btn-primary" type="reset">Reset</button>
            </div> 
        </form>
      </div> 
    <legend class="border-bottom mb-4 container"><b>Probability is:</b>{{ answer }}</legend>
    <!-- <div class="container">
        <h3 class="container"><b>Probability is:</b> {{ answer }}</h3>
    </div> -->
</body>
</html>